{% extends "base.html" %}

{% block content %}


    {% with messages = get_flashed_messages(category_filter=['admin']) %}
        {% if messages %}
            <div class="notification is-primary">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}


<h1 class="title">
  Hello Admin!
</h1>

<h2 class="subtitle">
  Choose photo to delete:
</h2>


  <div class="fixed-grid has-6-cols" >
        <div class="grid">

            {% for photo in photos %}
            <div class="cell">
                <div class="card">

                    <div class="card-image">
                        <figure class="image is-4by3">
                             <img src="{{ url_for('static', filename=photo.filename) }}"
                    alt="Image {{ loop.index }}"
                    style=" border: 1px solid #ddd; border-radius: 4px;">  
                        </figure>
                    </div>

                    <div class="card-content p-2 has-background-white">
                        {% if photo.caption %}
                            <p class="has-text-left subtitle is-6">{{ photo.caption }}</p>
                        {% endif %}

                        <div class="buttons" >
                            <form method="POST" action="{{ url_for('auth.delete_photo', photo_id=photo.id) }}"
                                onsubmit="return confirm('Are you sure you want to delete this photo?');">
                                <button type="submit" class="button is-fullwidth is-danger">Delete</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
            {% endfor %}

        </div>
    </div>


{% endblock %}