{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="title">
        Welcome, {{ name }}!
    </h1>
<div class="has-text-left">
    <form method="post" action="{{ url_for('auth.success') }}" enctype="multipart/form-data">
        <div class="field">
            <label class="label has-text-dark">Choose the image:</label>
            <div class="control">
                <input type="file" name="file" accept="image/*" required>
            </div>
        </div>

        <div class="field">
            <label class="label has-text-dark">Add the location:</label>
            <div class="control">
                <input type="text" name="caption" placeholder="location" required>
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="button is-primary">Upload photo</button>
            </div>
        </div>
    </form>
</div>
    {% if current_user.photos %}
        <div class="mt-4">
            <h4 class="title is-5">Your images:</h4>
            <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                {% for photo in current_user.photos %}
                    <div>
                        <img src="{{ url_for('static', filename=photo.filename) }}"
                             alt="Зображення {{ loop.index }}"
                             style="max-width: 200px; height: auto; border: 1px solid #ddd; border-radius: 4px;">
                        {% if photo.caption %}
                            <p>{{ photo.caption }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
