{% extends "base.html" %}

{% block content %}






<h1 class="title">
  Welcome to our Birdwatching website
</h1>
<h2 class="subtitle">
  Write the IP of the hunter
</h2>

<form method="post" action="{{ url_for('auth.report_page') }}">
      <div class="field">
        <label class="label">Upload the IP</label>
        <div class="control">
          <label>
            <input type="text" name="ip">
          </label>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary">Upload</button>
        </div>
      </div>
</form>







{% for photo in photos %}
  <div>
    <img src="{{ url_for('static', filename=photo.filename) }}"
         alt="Зображення {{ loop.index }}"
         style="max-width: 200px; height: auto; border: 1px solid #ddd; border-radius: 4px;">
    {% if photo.caption %}
      <p>{{ photo.caption }}</p>
    {% endif %}
  </div>
{% endfor %}

{% endblock %}