# should be placed in shared folder /vagrant
lb ansible_ssh_user=vagrant ansible_ssh_host=lb.local ansible_ssh_port=22 
web ansible_ssh_user=vagrant ansible_ssh_host=web.local ansible_ssh_port=22
db ansible_ssh_user=vagrant ansible_ssh_host=db.local ansible_ssh_port=22
